:root {
    --secondary-color: rgb(15, 188, 235); /* Replace with your desired color value */
}

.container {
    max-width: 1200px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the container horizontally */
}

@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .container {
        max-width: 100%; /* Allow full width on smaller screens */
        padding: 0 20px; /* Add padding to the sides for better spacing */
    }
}


/* Navigation Styles */
nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Make the navigation bar fixed */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Align it to the left */
    width: 100%; /* Make it take the full width */
    z-index: 100; /* Set a higher z-index to keep it above other content */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

/* Consolidate nav ul li a styles */
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    position: relative;
    transition: color 0.3s, border-color 0.3s, width 0.3s;
}

nav ul li a:hover {
    color: var(--secondary-color);
    background-color: rgba(20, 0, 243, 0.1); /* Adjust the desired background color */

}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s;
}

nav ul li a:hover::before {
    width: 100%;
}

/* Button Styles */
button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

/* Header and Section Styles */
header, section {
    text-align: center;
    padding: 20% 0; /* Increased the padding for the header */
    background-color:transparent; 
    color: white; /* White text color */
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Background color with 50% opacity */
    z-index: -1; /* Place the pseudo-element behind the header content */
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style for the portfolio section */
#portfolio {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    text-align: center;
    padding: 40px 0;
    background-color: #9df801; /* Light background color */
    color: #333; /* Dark text color */
}

#portfolio h2 {
    margin-bottom: 20px;
}

#portfolio p {
    margin-bottom: 40px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
}

/* Body Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #111; /* Dark background color */
    color: white; /* White text color */
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
}

/* DP config settings */

/* Style for the "About Me" title */
#about h2 {
    margin-top: 2%; /* Add spacing at the top */
    margin-bottom: 5%; /* Add spacing between title and content */
    font-size: 24px; /* Adjust the font size */
}

/* Additional styling for the "About" section content */
#about {
    text-align: center;
    padding: 10px; /* Adjust the vertical padding as needed */
    background-color: #222;
    color: white;
}

/* Adjust the image styling */
#about img {
    display: block;
    margin: 0 auto 40px; /* Center the image and add margin */
    width: 170px; /* Adjust the size as needed */
    height: 170px; /* Adjust the size as needed */
    border-radius: 70%;
    object-fit: cover;
}

/* Style for the paragraph in the "About" section */
#about p {
    font-size: 16px;
    line-height: 1.7;
}

#skills {
    text-align: center;
    padding: 40px 0;
    background-color:transparent; /* Dark background color */
    color: white; /* White text color */
}

/*  

/* Your existing styles */

/* Style for the work items container */



/* Style for the "Skills" section */
#skills {
    text-align: center;
    padding: 40px 40px 40px 40px;
    background-color: #090909;
}

/* Style for the skills list */
.skills-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px;
}

/* Style for the skill text */
.skills-list .skill-text {
    margin-left: 10px; /* Add margin between icon and text */
}

.skills-list li {
    background-color: #000000;
    border: 1px solid#ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal
}

.skills-list i {
    margin-right: 10px;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .skills-list {
        grid-template-columns: repeat(1, minmax(0, 1fr)); /* Switch to a single column layout */
    }
}


#contact {
    text-align: center;
    padding: 40px 0;
    background-color: #222;
    color: white;
}

/* Style for the contact icons */
.contact-icons {
    margin-top: 1; /* Add spacing between paragraph and icons */
}

.contact-icons a {
    color: white;
    font-size: 32px;
    margin: 0 15px;
    transition: color 0.3s;
}

.prj-desc {
    font-size: 16px !important;
    font-family:sans-serif;
}

.prj-title {
    align-self: flex-start;
}

.prj-tools {
    align-self: flex-start;
}

.contact-icons a:hover {
    color: var(--secondary-color);
}


/* Your existing styles for footer and media query */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
    background-color: #050505;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    width: 100%; /* Adjust width to match viewport */
    height: 100%; /* Adjust height to match viewport */
}
/* Additional styles for the canvas */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust width to match viewport */
    height: 100%; /* Adjust height to match viewport */
    z-index: -1;
}


/*==================================== Portfolio Modal CSS==================================== */
/* ... Existing modal styles ... */



.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Two equal-width columns */
    /* justify-content: space-between; Distribute items evenly */
    gap: 20px;
    padding: 20px; /* Adjust padding around the grid */
    max-width: auto; /* Adjust max width as needed */
    margin: 0 auto;
    width: 100%;
}

  

/* Style for each work item */
.work-item {
   
    text-align: left;
    background-color: black; /* Light background color */
    padding: 2px; /* Adjusted padding for better spacing */
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s; /* Added a smooth transition */
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    /* flex-direction: column; */
    color: white;
    align-items: center;
}

.work-item img {
    /* width: 60px; */
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; /* Added a smooth transition */
}

.work-item p {
    margin-top: 10px;
    font-size: 14px;
}

.work-item:hover img {
    transform: scale(1.05); /* Enlarge image on hover */
}

.work-item .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: left;
    align-items: center;
}

.project-card {
    
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.project-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.view-button {
    background-color:yellow;
    color: black;
    border: none;
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.view-button:hover {
    background-color: #2980b9;
}

.modal {
    display: none;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: left;
    align-items: center;
    
}

.modal-content {
    display: none;
    background-color: black;
    padding: 20px;
    margin: auto;
    max-width: 70vw; /* Adjust the maximum width as needed */
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    margin-top: 40px ;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    height: 100%
}

/* Style the scrollbar */
.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.modal-content::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.modal-content img {
    max-width: 50vw; /* Ensure images fit within their container */
    height: auto; /* Maintain aspect ratio */
    padding: 5 5 5 5;
    margin-top: 20px;
    margin-bottom: 20px;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.close-button:hover {
    color: var(--secondary-color);
    background-color: rgba(20, 0, 243, 0.1); /* Adjust the desired background color */

}

/* Add this CSS to your existing stylesheet */
.slideshow-container {
    max-width: auto; /* Adjust the width as needed */
    margin: 0 auto; /* Center align the container */
    text-align: center; /* Center align the images */
    margin-bottom: 20px;
}


.slide {
    max-width: 100%; /* Ensure the images don't exceed the container width */
    height: auto; /* Maintain the aspect ratio of the images */
    display: none; /* Hide all images by default */
    margin-bottom: 20px;
}

.slide.active {
    display: block; /* Display the active slide */
}

/* Update styles for the navigation buttons */
.modal-content .prev-button,
.modal-content .next-button {
    font-size: 24px;
    color: white;
    /* background-color: none; */
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
}

.modal-content .prev-button {
    left: 15px;
    background-color: none;
    color: black;
    top:40vh ;
}

.modal-content .next-button {
    right: 15px;
    background-color: none;
    color: black;
    top:40vh ;
}

.navigation {
	display: flex;
	justify-content: space-between;

}

.navigation button {
    background-color: rgba(255, 255, 255, 0.795);
	color: white;
	cursor: pointer;
	height: 30px;
	padding: 15px;
    border-radius: 50%;
    border: none;
	transition: background-color .5s, color .5s;
}

.navigation button:first-of-type{ 
	padding-right: 20px;
    padding-bottom: 35px
}

.navigation button:last-of-type{ 
	padding-left: 20px;
    padding-bottom: 35px
}

.navigation button:hover{
	background-color: yellow;
	color: black;
}

@media (max-width: 1200px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
        gap: 15px; /* Reduce gap for better spacing */
    }
}

@media (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(1, 1fr); /* Single column on small screens */
        gap: 10px; /* Further reduce gap for smaller screens */
    }
}

.eda-section {
    text-align: center;
    padding: 40px;
    background-color: #black;
}

.eda-thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.eda-thumbnail {
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: linear-gradient(135deg, #f8f9fa 0%, #ececec 100%);
    margin: 0;
    position: relative;
}

.eda-thumbnail img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.project-description {
    font-size: 16px;
    color: #white;
    max-width: 800px auto;
    margin: 40px auto;
    text-align: center;
}

.view-eda-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}

.view-eda-button:hover {
    background-color: #0056b3;
}

